{% extends "layout.html.twig" %}

{% block content %}
<section id="services">
	<div class="container">		
		<div id="flipbook">
			<div><img src="{{ asset('images/epic_services.png') }}" /></div>
			<div><img src="{{ asset('images/epic_strategy.png') }}" /></div>
			<div><img src="{{ asset('images/epic_creative.png') }}" /></div>
			<div><img src="{{ asset('images/epic_social.png') }}" /></div>
			<div><img src="{{ asset('images/epic_code.png') }}" /></div>
			<div><img src="{{ asset('images/services.png') }}" /></div>
		</div>
		<div class="previous"><a href="#"><img src="{{ asset('images/izquierda.png') }}"></a></div>
		<div class="next"><a href="#"><img src="{{ asset('images/derecha.png') }}"></a></div>
	</div>
</section>
{% endblock %}